<% include ../partials/header %>

<div class="container">

        <h1>Edit <%= campground.name %> </h1>

        <div id="formDiv">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="campName">Name</label>
                    <input class="form-control" type="text" name="campground[name]" id="campName" value="<%= campground.name %>">
                </div>
                <div class="form-group">
                    <label for="campPrice">Price</label>
                    <input class="form-control" type="number" name="campground[price]" id="campPrice" value="<%= campground.price %>" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <label for="campLocation">Location</label>
                    <input class="form-control" type="text" name="location" id="campLocation" value="<%= campground.location %>">
                </div>
                <div class="form-group">
                    <label for="campImage">Image URL</label>
                    <input class="form-control" type="text" name="campground[image]" id="campImage" value="<%= campground.image %>">
                </div>
                <div class="form-group">
                    <label for="campDescription">Description</label>
                    <textarea rows="4" class="form-control" type="text" name="campground[description]" id="campDescription"><%= campground.description %></textarea>
                </div>
                <div id="formButtonGroup">
                    <a href="/campgrounds/<%= campground._id %>" method="get" class="btn btn-danger">Cancel</a>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Confirm Changes</button>
                    </div>
                </div>

            </form>
        </div>
</div>

<% include ../partials/footer %>