<% include ../partials/header %>



<div class="container">

    <div class="row">
        <div class="col-3">
            <div class="list-group" id="campInfoLinksCollapse">
                <a href="#" class="list-group-item active">Description</a>
                <a href="#" class="list-group-item">Facilities</a>
                <a href="#" class="list-group-item">Links</a>
            </div>

            <div id="map"></div>

        </div>
        <div class="col-9">
            <div class="card" id="showCampCard">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% for( let index = 0; index < campground.images.length; index++ ) { %>
                            <% if (index === 0) { %>
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <% } else { %>
                                <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>"></li>
                            <% } %>
                        <% } %>
                    </ol>
                    <div class="carousel-inner">
                        <% for( let index = 0; index < campground.images.length; index++ ) { %>
                            <% if (index === 0) { %>
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="<%= campground.images[0] %>">
                                </div>
                            <% } else { %>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="<%= campground.images[index] %>">
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <h5 class="card-title text-muted float-right">&euro;<%= campground.price %>/night</h5>
                    <h6 class="card-title text-muted"><em>Submitted by <a href="/users/<%= campground.createdBy.id %>"><%= campground.createdBy.firstName %></a></em></h6>

                    <p class="card-text"><%- campground.description %></p>
                    <% if (currentUser && (campground.createdBy.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
                        <div id="showButtonGroup">
                            <a href="/campgrounds/<%= campground._id %>/edit" method="get" class="btn btn-warning btn-sm">Edit</a>
                            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>

                        </div>
                    <% } %>
                </div>
            </div>

            <div class="card">
                <div class="card-body text-right">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" method="get" class="btn btn-primary card-link">
                        Add Comment
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Reviews</h5>
                    <% campground.comments.forEach(comment => { %>
                        <div class="card" id="reviewCard">
                            <div class="card-body">
                                <h6 class="card-title"><%= comment.author.firstName %> <%= comment.author.lastName.charAt(0) %></h6>
                                <h6 class="card-title text-muted float-right"><%= comment.created.toDateString() %> </h6>

                                <p class="card-text">
                                    <%- comment.text %>
                                </p>
                                    <% if (currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
                                        <div id="showButtonGroup">
                                            <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                            Edit
                                            </a>
                                            <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </div>
                                    <% } %>
                            </div>
                        </div>
                    <% }) %>

                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>